@media (min-width: 1200px) {
    .container{
        max-width: 1400px;
    }
}

.shadow {
  box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.5);
}

/* follo button*/


button .msg-follow,
button .msg-following,
button .msg-unfollow{
  display: none;
}

button .msg-follow{
  display: inline;
}

button.following .msg-follow{
  display: none;
}

button.following .msg-following{
  display: inline;
}

button.following:not(.wait):hover .msg-following{
  display: none;
}

button.following:not(.wait):hover .msg-unfollow{
  display: inline;
}
